.button {
    background-color: $color-nikel;
    border: none;
    color: $color-white;
    border-radius: $btn-radius;
    &:hover {
        background-color: $color-platinum;
    }
    &:focus {
        border: 3px solid $color-light-gray;
    }
}
