nav{
    background-color: $color-eerie-black;
    .nav-link{
        color: $color-white;
    }
    .img-logo{
        width: $size-logo;
    }
    .navbar-toggler{
        color: $color-white;
    }
    // .navbar-toggler{
    //     color: $color-white;
    // }
}