.section-naothai{
    color: $color-ruddy-pink;
    font-weight: $h3-weight;
}

.img-naothai{
    width: $img-naothai-width;
}

h3{
    font-weight: $h1-weight;
    font-style: $h1-style;
    font-size: $h3-size;
}

.section-pagination{
    background-color: $color-light-gray;
    nav{
        background-color: $color-light-gray;        
    }
}